RTR-Scorebar:Before {
	Content: "";

	Display: Block;
	Width: var(--Score, 100%);
	Height: 100%;

	Background: Linear-Gradient(90deg, Orange, DarkOrange);
	Border-Radius: 2vmin;
}

RTR-Scorebar {
	Display: Block;
	Width: 100%;
	Height: 4vmin;

	Background: Gray;
	Border: Medium Solid White;
	Border-Radius: 2vmin;
}