HTML, Body {
	Height: 100%;
}

Body {
	Display: Flex;
	Flex-Direction: Column;

	Margin: 0;
}



RTR-Scorebar {
	Display: Flex;
	Flex-Direction: Row;

	Font-Size: 1.5rem;
}

RTR-Scorebar > Img {
	Height: 2em;
	Margin-Right: 1em;

	Pointer-Events: None;
}

RTR-Scorebar-Score::Before {
	Content: "";

	Display: Block;
	Width: var(--ScorePercentage, 100%);
	Height: 100%;

	Background: Linear-Gradient(90deg, Orange, DarkOrange);
	Border-Radius: 0 2em 2em 0;
}

RTR-Scorebar-Score {
	Display: Block;
	Width: 100%;
	Height: 2em;

	Background: Gray;
	Border: Medium Solid White;
	Border-Radius: 0 2em 2em 0;
}

RTR-Scorebar-Score::After {
	Content: var(--Score, "0");

	Position: Relative;
	Bottom: 1.5em;

	Display: Flex;
	Align-Items: Center;
	Justify-Content: Center;

	Color: White;
}

RTR-Layout * {
	Position: Absolute;

	Flex: 1;
}